In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

In [3]:
df=pd.read_excel('Trough.xlsx')

In [4]:
df.head()

   Width
0  8.312
1  8.343
2  8.317
3  8.383
4  8.348

In [12]:
wide=df.Width

In [19]:
t_statistic, p_value = ttest_1samp(wide, 8.46)

In [20]:
print(t_statistic,p_value)

-5.93552959147 3.14485846241e-07