In [24]:
#Import all necessary modules
import pandas as pd  
import numpy as np 
import scipy.stats as stats
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import scale

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score,roc_curve,classification_report,confusion_matrix

In [25]:
df = pd.read_csv("Trucks.csv")

In [26]:
df.head(23)

    Unnamed: 0   Freq  period  parked  light  collision
0            1    712       0       1      1          0
1            2    613       1       1      1          0
2            3    192       0       1      1          1
3            4    179       1       1      1          1
4            5   2557       0       0      1          0
5            6   2373       1       0      1          0
6            7  10749       0       0      1          1
7            8   9768       1       0      1          1
8            9    634       0       1      0          0
9           10    411       1       1      0          0
10          11     95       0       1      0          1
11          12     55       1       1      0          1
12          13    325       0       0      0          0
13          14    283       1       0      0          0
14          15   1256       0       0      0          1
15          16    987       1       0      0          1
16          17    345       0       1      0          0
17          18    179       1       1      0          0
18          19     46       0       1      0          1
19          20     39       1       1      0          1
20          21    579       0       0      0          0
21          22    494       1       0      0          0
22          23   1018       0       0      0          1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
Unnamed: 0    24 non-null int64
Freq          24 non-null int64
period        24 non-null int64
parked        24 non-null int64
light         24 non-null int64
collision     24 non-null int64
dtypes: int64(6)
memory usage: 1.2 KB

In [28]:
df.describe()

       Unnamed: 0          Freq     period     parked      light  collision
count   24.000000     24.000000  24.000000  24.000000  24.000000  24.000000
mean    12.500000   1448.916667   0.500000   0.500000   0.333333   0.500000
std      7.071068   2794.132578   0.510754   0.510754   0.481543   0.510754
min      1.000000     39.000000   0.000000   0.000000   0.000000   0.000000
25%      6.750000    188.750000   0.000000   0.000000   0.000000   0.000000
50%     12.500000    536.500000   0.500000   0.500000   0.000000   0.500000
75%     18.250000    994.750000   1.000000   1.000000   1.000000   1.000000
max     24.000000  10749.000000   1.000000   1.000000   1.000000   1.000000

In [35]:
df.collision.value_counts(normalize=True)

1    0.5
0    0.5
Name: collision, dtype: float64

In [29]:
# Copy all the predictor variables into X dataframe
X = df.drop('collision', axis=1)
X = np.asmatrix(X)
#Scale X
#X = scale(X)

# Copy target into the y dataframe. 
y = np.asarray(df[['collision']])

In [30]:
clf = LinearDiscriminantAnalysis()
model=clf.fit(X,y)
model

C:\Users\v2n\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [31]:
pred_class = model.predict(X)
df['Prediction'] = pred_class 
df.head()

   Unnamed: 0  Freq  period  parked  light  collision  Prediction
0           1   712       0       1      1          0           0
1           2   613       1       1      1          0           0
2           3   192       0       1      1          1           0
3           4   179       1       1      1          1           0
4           5  2557       0       0      1          0           0

In [32]:
confusion_matrix(y, pred_class)

array([[8, 4],
       [6, 6]], dtype=int64)

In [33]:
model.score(X,y)

0.5833333333333334

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y, pred_class))

              precision    recall  f1-score   support

           0       0.57      0.67      0.62        12
           1       0.60      0.50      0.55        12

    accuracy                           0.58        24
   macro avg       0.59      0.58      0.58        24
weighted avg       0.59      0.58      0.58        24

In [36]:
df.collision.value_counts(normalize=True)

1    0.5
0    0.5
Name: collision, dtype: float64

In [39]:
df.Prediction.value_counts(normalize=True)

0    0.583333
1    0.416667
Name: Prediction, dtype: float64