In [1]:
import numpy as np   
import pandas as pd    
import seaborn as sns
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

In [2]:
df = pd.read_csv("ThreeCars.csv")

In [3]:
df.head(5)

   Unnamed: 0  Price  Age  Mileage  Porsche  Jaguar  BMW
0           1   69.4    3     21.5        1       0    0
1           2   56.9    3     43.0        1       0    0
2           3   49.9    2     19.9        1       0    0
3           4   47.4    4     36.0        1       0    0
4           5   42.9    4     44.0        1       0    0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
Unnamed: 0    90 non-null int64
Price         90 non-null float64
Age           90 non-null int64
Mileage       90 non-null float64
Porsche       90 non-null int64
Jaguar        90 non-null int64
BMW           90 non-null int64
dtypes: float64(2), int64(5)
memory usage: 5.0 KB

In [7]:
import statsmodels.formula.api as smf
lm1 = smf.ols(formula= 'Price ~ Age+Mileage+ Porsche + Jaguar + BMW', data = df).fit()
lm1.params

Intercept    45.748646
Age          -0.763526
Mileage      -0.462333
Porsche      25.644514
Jaguar        6.599498
BMW          13.504634
dtype: float64

In [8]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.781
Model:                            OLS   Adj. R-squared:                  0.770
Method:                 Least Squares   F-statistic:                     75.59
Date:                Sun, 17 May 2020   Prob (F-statistic):           3.46e-27
Time:                        22:30:54   Log-Likelihood:                -317.27
No. Observations:                  90   AIC:                             644.5
Df Residuals:                      85   BIC:                             657.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     45.7486      1.432     31.955      0.000      42.902      48.595
Age           -0.7635      0.361     -2.112      0.038      -1.482      -0.045
Mileage       -0.4623      0.064     -7.271      0.000      -0.589      -0.336
Porsche       25.6445      1.390     18.446      0.000      22.880      28.409
Jaguar         6.5995      1.296      5.093      0.000       4.023       9.176
BMW           13.5046      1.652      8.174      0.000      10.220      16.790
==============================================================================
Omnibus:                        0.153   Durbin-Watson:                   1.791
Prob(Omnibus):                  0.926   Jarque-Bera (JB):                0.174
Skew:                           0.092   Prob(JB):                        0.917
Kurtosis:                       2.889   Cond. No.                     2.85e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.54e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.